@font-face {
    font-family: Poppins;
    src: url(./fonts/Poppins/Poppins-Medium.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Poppins;
    src: url(./fonts/Poppins/Poppins-Bold.ttf);
    font-weight: bold;

}
body {
    color: #0a294b;
    font-family: Poppins;
    word-break: break-word;
}

section p {
    margin-bottom: 1.5em;
    line-height: 1.8em;
}

section a {
    color: #EF6534;
}

body>header {
    height: 100px;
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    top: 0;
    left: 0;
    background: #be6b1d;
    color: white;
    width: 100%;
    z-index: 1;
}

nav ul {
    margin: 0;
    height: 100%;
    align-items: center;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

nav ul li {
    padding: 0 25px;
    margin: 0 5px;
    font-size: 1em;
}

nav ul a {
    color: white;
    padding: 8px 0;
    text-decoration: none;
    text-transform: uppercase;
}

nav ul a:hover, .aktivni a {
    border-bottom: 2px solid #ffffff;
}

.logo {
    height: 100%;
    margin: auto;
    animation: rotation 4s infinite linear;
}

.welcome {
    margin-top: 120px; 
}

.mid{
    text-align: center;
    font-size: 20px;
}

.nadpis_h1 , .vyhledavac {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1.8vw;
}

.recepty_text {
    margin-top: 10%;
}

.mapa {
    width: 600px;
    height: 450px;
    margin-left: 0%;
    border-radius: 8px;
}

.prihlaseni {
    padding-top: 120px;
    text-align: center;
    font-size: 20px;
}

.recept {
    border: 1px solid Black;
    box-shadow: 2px 2px 7px #1c2228;
    background-color: rgba(110, 110, 110, 0.2);
    margin: 15px;
    display: flex;
    border-radius: 10px;
    margin-bottom: 25px;
    
}
#animace:hover {
    animation: pulse 0.9s ease-out;
}


@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  70% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}

section:first-child {
    width: 25%;
    text-align: center;
}

.nadpisystranky {
    font-size: 20px;
    margin-bottom: 25px;
    margin-left: 15px;
}

.nadpisdlazdice {
    margin: 0px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 38px;
    word-break: break-word;
}

.textdlazdice {
    text-align: center;
    margin: 0px;
    font-size: 28px;
    word-break: break-word;
}

.vlevo {
    padding: 10px;
    border-style: solid;
    border-color: black;
    border-radius: 6px;
    max-width: 75%;
    margin-top: 10px;
}

.vlevotext {
    display: flex;
    margin-left: 10%;
    margin-top: 20px;
}

.vlevotextp {
    margin: auto;
    font-size: 24px;
}

.vlevoul {
    margin-left: 10%;
    margin-top: 20px;
}

.ikony {
    max-width: 15%;
}

li {
    font-size: 20px;
}

.vpravo {
    width: 75%;
    padding: 2%;
}

footer {
    margin-top: 50px;
    text-align: center;
}
#cas, #cas2, #cas3 {
    font-size:20px;
    margin-left: 15px
}
#kont_text {
    width: 50%;
}

@media screen and (max-width: 1024px) {
    .recept {
        flex-direction: column-reverse;
        padding: 2vh 0;
    }
    .vpravo {
        width: 96%;
    }
    .recept > section:first-child {
        width: 100%;
    }
    .vlevotext {
        margin-left: 0;
    }
    .recept > section > .vlevotext > img {
        display: none;
    }
    .vlevoul {
        text-align: center;
        list-style: inside;
        margin: 0;
    }
    #zdroj_skola, #kont_text {
        width: 100%;
    }
    #zdroj_skola > iframe {
        width: 100%;
    }
    #kont_art {
        flex-direction: column;
    }
    #cas2, #cas3, .nadpisystranky {
        font-size: 24px;
    }
}
@media screen and (max-width: 500px) {
    header > a:nth-child(1) {
        display: none;
    }
    .nadpis_h1 {
        margin-left: 3%;
    }
    header > nav > ul {
        padding-left: 3%;
    }
    nav ul li {
        margin: 0;
        padding: 0;
    }
}
@keyframes imgs {
    0% {
        content: url('Fotky/435aa7569500869a7654fe4fe7ffdb88-facebook.jpg');
    }
    33% {
        content: url('Fotky/Asset_1588978.jpg');
    }
    66% {
        content: url('Fotky/JVE86e8bc_31835_102388834.jpg');
    }
}
#kont {
    width: 60%;
    margin: auto;
    border: 2px solid black;
}
