@font-face {
    font-family: Poppins;
    src: url(./fonts/Poppins/Poppins-Medium.ttf);
    font-weight: normal;
}
@font-face {
    font-family: Poppins;
    src: url(./fonts/Poppins/Poppins-Bold.ttf);
    font-weight: bold;

}
body { text-align: left;
    color: #0a294b;
    font-family: Poppins;
    background: #F9F9F9;}
    
    body > header {
        height: 100px;
        position: fixed;
        display: flex;
        justify-content: space-evenly;
        top: 0;
        background: #00386B;
        color: white;
        width: 100%;
        z-index: 1;
    }
    #logo {
        background: url(Snímek\ obrazovky\ 2021-12-16\ 092152.png) no-repeat;
        background-size: 40px 40px;
        height: 40px;
        margin: auto 0 auto 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
