@font-face {
    font-family: Poppins;
    src: url(./fonts/Poppins/Poppins-Medium.ttf);
    font-weight: normal;
}
@font-face {
    font-family: Poppins;
    src: url(./fonts/Poppins/Poppins-Bold.ttf);
    font-weight: bold;

}
body { text-align: left;
    color: #0a294b;
    font-family: Poppins;
    background: #F9F9F9;}